# Dependencias
node_modules/
/.pnp
.pnp.js

# Producción / Compilación
/dist
/dist-ssr

# Pruebas de cobertura
coverage/
*.local

# Archivos de entorno
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editores y sistemas operativos
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.DS_Store
Thumbs.db
